node_modules/
.env
.env.local
.next/
*.tsbuildinfo
.DS_Store
*.log
dist/
build/
.cache/
 migrations/
 netlify.toml
lib/pdf-export
lib/backend.ts
lib/angled.kyxr
lib/giant.kyxr
lib/mansion.kyxr
lib/me.kyxr
lib/mrq.kyxr
lib/library.kyxr
lib/john.kyxr
