node_modules/
.env
.env.local
.next/
*.tsbuildinfo
.DS_Store
*.log
dist/
build/
.cache/
 migrations/
 netlify.toml
lib/pdf-export
lib/backend.ts
lib/testing.json
lib/testing-mansion.json
lib/testing-giant.json
lib/testing-john.json
lib/testing-library.json
lib/testing-me.json
lib/testing-mrq.json
