node_modules/
.env
.env.local
.next/
*.tsbuildinfo
.DS_Store
*.log
dist/
build/
.cache/
 migrations/
 netlify.toml
lib/pdf-export
lib/backend.ts
lib/angled.kyxr
lib/giant.kyxr
lib/mansion.kyxr
lib/me.kyxr
lib/mrq.kyxr
lib/library.kyxr
lib/john.kyxr
lib/angled.json
lib/giant.json
lib/john.json
lib/library.json
lib/mansion.json
lib/me.json
lib/mrq.json
lib/solutionplease.ts
lib/ransac.js
lib/finalsolution.ts
lib/finaldestination.ts
lib/og-backend.ts
